<%- model_class = Message -%>

  <h3>お知らせ</h3>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:send_date) %>:</strong></dt>
  <dd><%= @message.send_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:subject) %>:</strong></dt>
  <dd><%= @message.subject %></dd>
  <dt><strong><%= model_class.human_attribute_name(:body) %>:</strong></dt>
  <dd><%= raw(@message.body) %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              messages_path, :class => 'btn btn-default'  %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              message_path(@message),
              :method => 'delete',
            :data => { :confirm => "削除してよろしいですか？" ,cancel: "キャンセル",commit: "削除"}, title: "削除確認",
            :class => 'btn btn-default' %>
<br>
<br>
<br>
