<% if @message_read.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= @message_read.errors.count %>件のエラーがあります。</h2>

      <ul>
        <% @message_read.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<%= simple_form_for @message_read, :html => { :class => 'form-horizontal' 'text-left'} do |f| %>
  <%= f.input :message_id,:input_html => {:style=> 'width: 200px' }%>
  <%= f.input :user_id ,:input_html => {:style=> 'width: 200px' }%>
  <%= f.input :read_flg %>
  <%= f.input :delete_flg %>
  <%= f.button :submit, :class => 'btn-default' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                message_reads_path, :class => 'btn btn-default' %>
<% end %>
