<%- model_class = SystemInfo -%>

  <h3>メンテナンス情報</h3>

<% if @system_infos.records.count >0 then%>
    <table class="table table-striped table-bordered table-condensed" style="table-layout:fixed;width:590px;">
      <thead>
      <tr>
        <th class="text-center" style="width:140px;"><%= model_class.human_attribute_name(:created_at) %></th>
        <th class="text-center" style="width:300px;"><%= model_class.human_attribute_name(:subject) %></th>
        <th class="text-center" style="width:80px;"></th>
      </tr>
      </thead>
      <tbody>
      <% @system_infos.each do |system_info| %>
          <tr>
            <td><%=l system_info.created_at %></td>
            <td>
              <%= link_to system_info.subject, system_info_path(system_info)  %>
            </td>
            <td class="text-center">
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          system_info_path(system_info), :class => 'btn btn-default btn-block' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @system_infos %><br>
<% else%>
    <span class="text-info " >
      <dl id="info_list">
        <dt><i class="glyphicon glyphicon-info-sign"></i></dt><dd>メンテナンス情報はありません</dd>
      </dl>
    </span>
<% end %>
<br>
<br>
<br>
